.footer {
    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__log {
        width: 80px;
        margin: 0 auto 10px;
    }

    &__links{
        &__item {
            
        }
    }
}